# files to ignore
.vscode/
build/
node_modules/
__pycache__/
*log
*Docker*
!Dockerfile
*docker*
*key.pri
*key.pub

# python venv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

